* {
  box-sizing: border-box;
  font-family: 'Arial Black', Impact, sans-serif;
}

body {
  margin: 0;
  background: #000;
  height: 100vh;
}

.fence {
  position: absolute;
  inset: 0;
  background:
    repeating-linear-gradient(
      45deg,
      transparent 0 32px,
      #39ff14 32px 34px
    ),
    repeating-linear-gradient(
      -45deg,
      transparent 0 32px,
      #39ff14 32px 34px
    );
  opacity: 0.4;
  pointer-events: none;
}

#logo {
  position: absolute;
  top: 30px;
  left: 30px;
  color: #39ff14;
}

#logo h1 {
  margin: 0;
  font-size: 32px;
}

#logo span {
  font-size: 18px;
}

#descriptionBox { /* credits to Temani Afif link: https://verpex.com/blog/website-tips/how-to-create-a-zig-zag-box-using-css */
  --s: 38px; 
  --w: 550px;

  width: var(--w);
  aspect-ratio: 2 / 1;
  background: black;

  --_m:#0000 0 calc(2*atan(.5)),#000 0 50%;
  -webkit-mask:
    repeating-conic-gradient(from atan(2) at 50% var(--s),var(--_m))
     calc(2*var(--s)) calc(-1*var(--s))/calc(4*var(--s)) 100% intersect,
    repeating-conic-gradient(from atan(-.5) at var(--s),var(--_m))
     calc(-1*var(--s)) calc(2*var(--s))/100% calc(4*var(--s));
  mask:
    repeating-conic-gradient(from atan(2) at 50% var(--s),var(--_m))
     calc(2*var(--s)) calc(-1*var(--s))/calc(4*var(--s)) 100% intersect,
    repeating-conic-gradient(from atan(-.5) at var(--s),var(--_m))
     calc(-1*var(--s)) calc(2*var(--s))/100% calc(4*var(--s));

  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  display: flex;
  align-items: center;
  justify-content: center;
  
  box-shadow: 0 0 0 4px #39ff14;
}

#descriptionText {
  color: #39ff14;
  font-size: 18px;
  line-height: 1.4;
  padding: 20px;
  text-align: center;
  z-index: 2;
  position: relative; 
}
