#uploadModelBox {
  position: absolute;
  top: 100px;
  left: 30px;
}

#uploadModelInput {
  display: none;
}

.uploadButton {
  display: inline-block;
  padding: 12px 20px;
  background: #39ff14;
  color: #000;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 4px 4px 0 #000;
  position: relative;
  transition: all 0.2s ease;
}

.uploadButton:hover {
  transform: scale(1.05);
  box-shadow: 8px 8px 0 #000;
  filter: drop-shadow(0 0 8px #39ff14);
}

#game {
  position: absolute;
  left: 600px;
  top: 70px;
}
